<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>
<div id="app">

    <!--search-->
    <el-form :inline="true" :model="brand" class="demo-form-inline">

        <el-form-item label="status">
            <el-select v-model="brand.status" placeholder="status">
                <el-option label="open" value="1"></el-option>
                <el-option label="close" value="0"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="company name">
            <el-input v-model="brand.companyName" placeholder="company name"></el-input>
        </el-form-item>

        <el-form-item label="brand name">
            <el-input v-model="brand.brandName" placeholder="brand name"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">search</el-button>
        </el-form-item>
    </el-form>

    <!--button-->

    <el-row>

        <el-button type="danger" plain>delete</el-button>
        <!--dialog click-->
        <el-button type="primary" plain @click="dialogVisible = true">add</el-button>

    </el-row>
    <!-- add brand data -->
    <el-dialog
            title="edit brand"
            :visible.sync="dialogVisible"
            width="30%"
            >

        <el-form ref="form" :model="brand" label-width="80px">
            <el-form-item label="brand name">
                <el-input v-model="brand.brandName"></el-input>
            </el-form-item>

            <el-form-item label="company name">
                <el-input v-model="brand.companyName"></el-input>
            </el-form-item>

            <el-form-item label="ordered">
                <el-input v-model="brand.ordered"></el-input>
            </el-form-item>

            <el-form-item label="desc">
                <el-input type="textarea" v-model="brand.description"></el-input>
            </el-form-item>

            <el-form-item label="status">
                <el-switch v-model="brand.status"
                           active-value="1"
                           inactive-value="0"
                ></el-switch>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="addBrand">submit</el-button>
                <el-button @click="dialogVisible = false">cancel</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <!--form-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange"
        >
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="brandName"
                    label="brand name"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="company name"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="ordered"
                    align="center"
                    label="ordered">
            </el-table-column>
            <el-table-column
                    prop="status"
                    align="center"
                    label="status">
            </el-table-column>

            <el-table-column
                    align="center"
                    label="action">

                <el-row>
                    <el-button type="primary">modify</el-button>
                    <el-button type="danger">delete</el-button>
                </el-row>

            </el-table-column>

        </el-table>
    </template>

    <!--pagination-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="400">
    </el-pagination>

</div>


<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#app",
        methods: {
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // when select multiple
            handleSelectionChange(val) {
                this.multipleSelection = val;

                console.log(this.multipleSelection)
            },
            // query
            onSubmit() {
                console.log(this.brand);
            },
            // add data
            addBrand(){
                console.log(this.brand);
            },

            //pagination
            handleSizeChange(val) {
                console.log(` ${val} items per page `);
            },
            handleCurrentChange(val) {
                console.log(`current page: ${val}`);
            }

        },
        data() {
            return {
                currentPage: 4,
                dialogVisible: false,

                // brand model
                brand: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id:"",
                    ordered:"",
                    description:""
                },
                multipleSelection: [],
                // data
                tableData: [{
                    brandName: 'mi',
                    companyName: 'mi company',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: 'mi',
                    companyName: 'mi company',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: 'mi',
                    companyName: 'mi company',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: 'mi',
                    companyName: 'mi company',
                    ordered: '100',
                    status: "1"
                }]
            }
        }
    })

</script>

</body>
</html>